.header{
    background-color: #ffe6c7;
    padding: 32px 78px;
    display: flex;
    justify-content: space-between;
}

.header-button{
    place-self: center;
}

.header-button button{
    border: none;
    background-color: orangered;
    color: white;
    width: 129px;
    height: 43px;
}